body{
    text-align: right;
}

.h6{
    color: #595959;
    font-weight: 600;
    font-size: 3.7vw;
    margin: 0;
    line-height: 1.45;
}

.t1{
    color: #111;
    font-size: 3.6vw;
    line-height: 1.45;

}